{% extends "layout.html" %} <!-- extends off of the layout page -->
{% block content %}
 <div class="home">
    <h1>Python Web Streaming</h1>
    <p>This website was built with Python via the Flask framework.</p>
     <form action="" method="post">
         <!-- input to control the raspberry pi motors -->
         <input class="btn btn-default" type="submit" value="Left">
         <input class="btn btn-default" type="submit" value="Right">
         <input class="btn btn-default" type="submit" value="Fire">
     </form>
     <!-- calls and displays the image from the video feed function -->
     <img id="bg" src="{{ url_for('video_feed') }}">
  </div>
{% endblock %}
